.imageItem {
  margin: 15px 5px;
  padding: 0 15px 15px 15px;
  border-bottom: 1px solid #E0E0E0;
}
.imageItem:last-child {
  border-bottom: none;
}
.imageItem h2, .imageItem .image {
  text-align: center;
  max-width: 100%;
}
.imageItem .image img {
  max-width: 100%;
}